{% extends 'adminbase.html' %}
{% block content %}

    <select name="daychoose" id="daychoose" onchange="changedayadmin('chiqim')">
        <option value="1">Kunlik</option>
        <option value="7">Haftalik</option>
        <option value="30">Oylik</option>
        <option value="365">yillik</option>
    </select>
    <div class="qushxona__table1">
        <table class="qushxona_table" id="qushxona_table">
            <tr>
                <th>№</th>
                <th>Dehqon</th>
                <th>summa</th>
                <th>Sanasi</th>
            </tr>
            {% for i in chiqimlar %}
                <tr>
                    <td>{{ i.n }}</td>
                    <td>{{ i.dehqon }}</td>
                    <td>{{ i.summa }}</td>
                    <td>{{ i.date }}</td>
                </tr>
            {% endfor %}
        </table>
        <p style="color: red; text-align: center;height: 55px;">

        </p>
        <table class="qushxona_table" id="boshqaxarajatlar">
            <tr>
                <th>№</th>
                <th>Maqsadi</th>
                <th>miqdori</th>
                <th>date</th>
            </tr>
            {% for i in  data %}
                <tr>
                    <td>{{ i.n }}</td>
                    <td>{{ i.maqsad }}</td>
                    <td>{{ i.miqdori }}</td>
                    <td>{{ i.date }}</td>
                </tr>
            {% endfor %}
        </table>


        <div id="jamisi" style="text-align:center; color:red;">

            Jami: {{ jami }}
        </div>
    </div>


{% endblock %}