{% extends 'adminbase.html' %}
{% block content %}
    <div class="qushxona__table1">
        <table class="qushxona_table">
            <tr>
                <th>№</th>
                <th>ism familyasi</th>
                <th>phone</th>
                <th>address</th>
                <th>role</th>
            </tr>
            {% for i in users %}
                <tr>
                <td>{{ i.id }}</td>
                <td>{{ i.full_name }}</td>
                <td>{{ i.phone }}</td>
                <td>{{ i.address }}</td>
                <td>{{ i.role }}</td>
                </tr>
            {% endfor %}
            <tr>
                <td>№</td>
                <td><input id="fullname" type="text"></td>
                <td><input id="phone" type="number"></td>
                <td><input id="address" type="text"></td>
                <td><select name="roles" id="roles">
                    <option value="dehqon">Dehqon</option>
                    <option value="client">Qushxona Klienti(Optomchi)</option>
                    <option value="sotuvchi">Bozordagi sotuvchi</option>
                    <option value="kallahasb">Kalla hasb oluvchi sotuvchi</option>
                    <option value="Teri">Teri oluvchi sotuvchi</option>
                </select></td>
            </tr>
        </table>
    <button onclick="usersave()">Save</button>
    </div>





{% endblock %}