{% extends 'base.html' %}

{% block content %}
    <div class="qushxona__table1">
        <table class="qushxona_table">
            <tr>
                <th>№</th>
                <th>Maqsadi</th>
                <th>miqdori</th>
                <th>date</th>
            </tr>
            {% for i in  data %}
                <tr>
                    <td>{{ i.n }}</td>
                    <td>{{ i.maqsad }}</td>
                    <td>{{ i.miqdori }}</td>
                    <td>{{ i.date }}</td>
                </tr>
            {% endfor %}

        <tr>
            <td>№</td>
            <td><input id="comment" type="text"></td>
            <td><input id="amount" type="number"></td>
            <td><button onclick="expensesave('qushxona')" >Save</button></td>
        </tr>
        </table>
    </div>

{% endblock %}