{% extends 'base.html' %}
{% block content %}
<div id="information">

</div>
<div id="status">

</div>


<div style="border: 5px solid; width:95%;height:100%;">
<div style="margin-left:55px; margin-top:55px; margin-bottom:55px"  class="qushxona__table1">
    <table id="qushxona__table1" class="qushxona_table">
        <tr>
            <th>Mijoz</th>
            <th>Dehqon</th>
            <th>Mahsulot</th>
            <th>Soni</th>
            <th>Og'irligi</th>
            <th>Narxi</th>
            <th>Sanasi</th>
            <th>Umumiy summa</th>
            <th>Jami to'lov</th>
            <th>Qolgan qarz</th>
        </tr>
        {% for i in data %}
            <tr>
            <td>{{ i.mijoz }}</td>
            <td>{{ i.dehqon }}</td>
            <td>{{ i.product }}</td>
            <td>{{ i.quantity }}</td>
            <td>{{ i.weight }}</td>
            <td>{{ i.price }}</td>
            <td>{{ i.date }}</td>
            <td>{{ i.total_price }}</td>
            <td>{{ i.Jami }}</td>
            <td>{{ i.qarz }}</td>
            <td><button style="color:blue;" onclick='payments({{ i.payments }}, "{{ i.dehqon }}", "{{ i.product }}", {{ i.quantity }}, {{ i.id  }}, {{ i.qarz }})'>To'lov qo'shish</button>
            </td>
            </tr>
        {% endfor %}
    </table>

<div id="backbutton"></div>
</div>
</div>

{% endblock %}