{% extends 'base.html' %}
{% block content %}



<div class="qushxona__table1">
    <table class="qushxona_table">
        <tr>
            <th>Dehqonning Ismi</th>
            <th>Mahsuloti</th>
            <th>Sotilganlar soni</th>
            <th>Og'irligi</th>
            <th>Tiriklari soni</th>
            <th>Narxi</th>
            <th>Sanasi</th>
        </tr>
        {% for i in data %}
        <tr>
        <td><a href="{% url 'dehqonpage' i.dehqon_id %}">{{ i.dehqon }}</a></td>
        <td>{{ i.product }}</td>
        <td>{{ i.sotilganlar }}</td>
        <td>{{ i.weight }}</td>
        <td>{{ i.tiriklari }}</td>
        <td><input onchange="clientpricechange({{ i.id }})" value="{{ i.price }}" id="newprice_{{ i.id }}" type="number"></td>
        <td>{{ i.sanasi }}</td>
        </tr>

        {% endfor %}
    </table>


</div>








{% endblock %}