{% extends 'base.html' %}
{% block content %}
    <p style="text-align: center;color: red">
    Qushxonaning kunlik kirimi
</p>
<div class="qushxona__table1">
<table class="qushxona_table">
    <tr>
        <th>№</th>
        <th>mijoz</th>
        <th>miqdori</th>
        <th>Sanasi</th>
    </tr>
    {% for i in kirimlar %}
    <tr>
        <th>{{ i.n }}</th>
    <th>{{ i.mijoz }}</th>
    <th>{{ i.amount }}</th>
    <th>{{ i.date }}</th>
    </tr>
    {% endfor %}
</table>
</div>





{% endblock %}